body {
    margin: 0px;
    width: 100%;
    height: 100vh;
}

.section2 {
    height: 25vh;
}

.section1 {
    background-color: lightgray;
    width: 100%;
    box-sizing: border-box;
    height: 15vh;
    padding: 25px;
}

.square {
    height: 10vh;
    width: 100px;
    background-color: cornflowerblue;
    margin-left: 15px;
}

.section3 {
    background-color: cornflowerblue;
    width: 100%;
    box-sizing: border-box;
    height: 15vh;
}
  
.section4 {
    background-color: aquamarine;
    width: 100%;
    box-sizing: border-box;
    height: 15vh;
}

.section5 {
    background-color: lightgreen;
    width: 100%;
    box-sizing: border-box;
    height: 15vh;
}

.section6 {
    background-color: yellow;
    width: 100%;
    box-sizing: border-box;
    height: 15vh;
}